<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ImpulTech</title>
    <link rel="stylesheet" href="../public/style.css">
    <link rel="stylesheet" href="../public/reset.css">
</head>
<body>

    <header>

    <section id="form">
    <h1>Bem-vindo a ImpulTECH</h1>
    <h3>
        A ImpulTECH é uma das 5 maiores fintechs Brasileiras com mais 25 milhões de clientes em todo o Brasil.
        Para se tornar um novo membro da nossa comunidade, inicie nosso cadastro abaixo para dar início a sua Jornada!
    </h3>
    
    <a href="/question1">Iniciar Cadastro</a>
    </section>

    </header>


    <script src="script.js"></script>
</body>
</html>