<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ImpulTech</title>
    <link rel="stylesheet" href="../public/style.css">
    <link rel="stylesheet" href="../public/reset.css">
</head>
<body>

    <main class="main_page">
      <section id="form" class="main_form">
      <h1 class="main_title">Bem-vindo à ImpulTECH</h1>
      <p class="main_text">
          A ImpulTECH é uma das 5 maiores fintechs Brasileiras com mais 25 milhões de clientes em   todo o Brasil. 
      </p>
      <p class="main_text">
          Para se tornar um novo membro da nossa comunidade, inicie nosso cadastro abaixo para dar  início a sua Jornada!
     </p>
    
      <a href="/question1" class="main_link">Iniciar Cadastro</a>
      </section>
    </main>


    <script src="script.js"></script>
</body>
</html>