<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ImpulTech</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <h4>
        2- Muito bem <%= nome %>, Qual o seu E-mail?<br>
        
    </h4>
    <form action="/question3" method="post">
        <input type="email" name="email" id="email" placeholder="Digite seu E-mail" required>
        <button>Próximo</button>
    </form><br>
    <form action="/question1" method="get">
        <button>Voltar</button>
    </form>

    <script src="script.js"></script>
</body>
</html>