<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ImpulTech</title>
    <link rel="stylesheet" href="../public/style.css">
    <link rel="stylesheet" href="../public/reset.css">
</head>
<body>
    
    
  <main class="main_page">
    <h4>1- Qual o seu nome?</h4>
    <form class="main_form" action="/question2" method="post">
        <input type="text" class="main_form__input" name="nome" id="nome" placeholder="Digite seu nome" required>
        <button class="main_form__button">Próximo</button>
    </form>
    

    <script src="script.js"></script>
</body>
</html>