<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ImpulTech</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <h4>
        3- <%= nome %>, me informa seu CPF?<br>
        
    </h4>
    <form action="/question4" method="post">
        <input type="text" name="cpf" id="cpf" placeholder="Digite seu CPF" required minlength="11" maxlength="11" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*?)\..*/g, '$1');">
        <button>Próximo</button>
    </form>
    

    <script src="script.js"></script>
</body>
</html>